<% if user_signed_in? %>
  <h1>Friends</h1>
  <br/>
  <div id="friends">
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Twitter</th>
          <th scope="col">User_Id</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @friends.each do |friend| %>
          <% render friend %>
          <% if friend.user == current_user %>
           <tr>
              <td><%= link_to friend.first_name + " " + friend.last_name, friend %></td>
              <td><%= friend.phone %></td>
              <td><%= friend.twitter %></td>
              <td><%= friend.user_id %></td>
              <td><%= button_to "Delete", friend, method: :delete , class: 'btn btn-outline-danger btn-sm' %></td>
            </tr>
          <% end %>  
        <% end %>
      </tbody>
    </table>
  </div>
  <br/> 
  <%= link_to "New friend", new_friend_path, class:"btn btn-dark" %>
<% else %>
  <center><h1> Welcome to Friends</h1></center>
  <br/>
  <center><h2> Please sign up or sign in to continue !</h2></center>
<% end %>  
